<!DOCTYPE html>
<html lang="en" class="dark-theme">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>dashboard</title>
  <link href="css/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="css/product.css">
</head>

<body>
  <header>
    <div class="brand">
      <div class="logo"></div>
      <h1>suntop</h1>
    </div>
    <nav hx-push-url>

      <button class="nav-item" hx-get="/dashboard" hx-swap="outerHTML" hx-target="main" hx-trigger="click"
        onclick="location.reload()">
        <img src="icons/dashboard.svg" alt="">
        <p>Dashboard</p>
      </button>

      <button class="nav-item" hx-get="/productspage" hx-swap="innerHTML" hx-trigger="click" hx-target="main">
        <img src="icons/inventory.svg">
        <p>inventory</p>
      </button>
      <button class="nav-item" hx-get="/more" hx-swap="innerHTML" hx-trigger="click" hx-target="main">
        <p>more</p>
      </button>
    </nav>
  </header>
  <main>
    <section class="extra-containers">
      <section class="schedule">
        <h1>Add Schedule</h1>
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="the promo from makenin" />
        </div>
        <div class="date-container">

          <div id="date" class="date">
            <div class="input-group">
              <label for="start">start</label>
              <input type="datetime-local" name="start" id="start" placeholder="11/12/2011" />
            </div>
            <div class="input-group">
              <label for="end">End</label>
              <input type="datetime-local" name="name" id="end" placeholder="14/01/2024" />
            </div>
          </div>
        </div>
        <button id="addSchedule"><img src="icons/add.svg" alt="">ADD</button>
      </section>
    </section>
    <section class="products">
      <div class="h-layer">
        <div class="todo" hx-trigger="load" hx-get="/schedules" hx-swap="innerHTML">>
        </div>
        <div class="stock-levels">
          <div class="text">
            <h2>stock levels</h2>
            <p hx-trigger="load" hx-get="/stocklevel" hx-swap="innerHTML">6000</p>
            <h2>items</h2>
          </div>

          <div class="progress">
            <div class="bar">

            </div>
          </div>
        </div>
      </div>
      <div class="products-brief">
        <div class="info">
          <h2>product details</h2>
          <p class="tip">check the products tab for detailed info</p>
        </div>
        <table>
          <thead>
            <th>code</th>
            <th>product name</th>
            <th>cartegory</th>
            <th>catelogue</th>
          </thead>
          <tbody hx-trigger="load" hx-get="/productsDashboard" hx-swap="innerHTML">
          </tbody>
        </table>
      </div>
    </section>
  </main>
  <script src="lib/htmx.min.js"></script>
  <script src="js/index.js"></script>
  <script src="lib/eruda.js"></script>
  <script>
    eruda.init()
  </script>
</body>

</html>
